@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Outfit:wght@500&display=swap");

.section {
  display: flex;
  flex-direction: row;
}

.section-divider {
  height: inherit;
  width: 1px;
  border: 0.5px #2e2e48 solid;
}

.section-content {
  padding-left: 40px;
  width: 100%;
  padding-bottom: 50px;
}

.section-data {
  padding: 20px 10px 10px 0;
  width: inherit;
}

.section-divider-step-icon-base {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #2e2e48;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 12.5px;
  bottom: 1px;
}

.section-divider-step-icon-center {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  background-color: #c696fc;
}

.section-title {
  height: 25px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;

  color: #e2e6ee;

  display: inline;
  vertical-align: middle;
}
