* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(23, 23, 48);
  display: grid;
  grid-template-columns: 30% auto;
}

.side-container {
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.main-container {
  padding-right: 24px;
  padding-top: 32px;
}
